<div class="container">
  <div class="ui card">
    <h1>{{ title }}</h1>

    <h4 class="ui horizontal divider header">
      <i class="user plus icon"></i>
      Add members
    </h4>
    <ul class="members-list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>

    <div class="add-members-container ui input" [ngClass]="{error: errorNoMemberName}">
      <input
        #addMemberInput
        type="text"
        placeholder="Name"
        (input)="onMemberInput(addMemberInput.value)"
        [value]="newMemberName"
      />
      <button class="ui button" (click)="addMember()">Add</button>
      <div class="error-msg">
        <p *ngIf="errorNoMemberName">{{ errorNoMemberName }}</p>
      </div>
    </div>

    <h4 class="ui horizontal divider header">
      <i class="users icon"></i>
      Generate teams
    </h4>

    <div class="teams-generator-container ui action input" [ngClass]="{error: errorInvalidNumberOfTeams}">
      <input
        #numberOfTeamsInput
        type="text"
        placeholder="# of teams"
        (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
        [value]="numberOfTeams"
      />
      <button class="ui button" (click)="generateTeams()">Generate</button>
      <div class="error-msg">
        <p *ngIf="errorInvalidNumberOfTeams">{{ errorInvalidNumberOfTeams }}</p>
      </div>
    </div>
  </div>
</div>
