<div class="container">
  <div class="ui card">
    <h1>{{ title }}</h1>

    <h4 class="ui horizontal divider header">
      <i class="user plus icon"></i>
      Add members
    </h4>
    <ul class="members-list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>

    <div class="add-members-container ui input">
      <input
        #addMemberInput
        type="text"
        placeholder="Name"
        (input)="onInput(addMemberInput.value)"
        [value]="newMemberName"
      />
      <button class="ui button" (click)="addMember()">Add</button>
    </div>

    <h4 class="ui horizontal divider header">
      <i class="users icon"></i>
      Generate teams
    </h4>

    <div class="teams-generator-container ui action input">
      <input type="text" placeholder="# of teams" />
      <button class="ui button">Generate</button>
    </div>
  </div>
</div>
